body {
  background-color: #ecebe4;
  margin-left: auto;
  margin-right: auto;
  max-width: fit-content;
  font-family: Helvetica, sans-serif;
  color: #1c1c1c;
  text-align: left;
  font-weight: 200;
}

.footer {
  color: #1c1c1c;
  display: flex;
  list-style: none;
  gap: 25px;
  margin-top: 50px;
}

.hero-main-section {
  display: flex;
  margin-left: 40px;
  margin-right: 40px;
}

.hero-para {
  margin-left: 40px;
  margin-right: 40px;
}

.btn-front, .btn-content {
  background-color: transparent;
  color: #1c1c1c;
  border-radius: 4px;
  border: 1px solid #1c1c1c;
  padding: 4px 10px;
  font-weight: bold;
}

.btn-content:hover, .btn-front:hover {
  color: #ecebe4;
  background-color: #1c1c1c;
  cursor: help;
  transition: 0.4s;
}

.building {
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

.button-YT {
  display: flex;
}

.yt {
  margin-top: 20px;
  margin-left: 40px;
  background-color: transparent;
  color: #1c1c1c;
  border-radius: 4px;
  border: 1px solid #1c1c1c;
  padding: 12px 50px;
  font-weight: bold;
}

.uc {
  margin-left: 0px;
  background-color: transparent;
  color: #1c1c1c;
  border-radius: 4px;
  border: 1px solid #1c1c1c;
  padding: 12px 50px;
  font-weight: bold;
}

.yt:hover, .uc:hover {
  color: #ecebe4;
  background-color: #ff793f;
  transition: 0.4s;
}