body {
  background-color: #ecebe4;
  margin-left: 400px;
  margin-right: 400px;
}

.hero-section {
  font-family: Helvetica, sans-serif;
  color: #1c1c1c;
  display: flex;
}

.footer {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 20px;
}