body {
  background-color: #ecebe4;
  margin-left: auto;
  margin-right: auto;
  max-width: fit-content;
  font-family: Helvetica, sans-serif;
  color: #1c1c1c;
  text-align: left;
  font-weight: 200;
}

.footer {
  display: flex;
  list-style: none;
  gap: 25px;
  margin-top: 50px;
}

.hero-main-section {
  display: flex;
  margin-left: 40px;
  margin-right: 40px;
}

.hero-para {
  margin-left: 40px;
  margin-right: 40px;
}

.btn-front, .btn-content {
  background-color: transparent;
  color: #1c1c1c;
  border-radius: 4px;
  border: 1px solid #1c1c1c;
  padding: 4px 10px;
}

.building {
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
}